<div class="jumbotron">
	<center>
	<br>
  	<h1>Developers Without Borders</h1>		
  	<h4>Connecting Developers to Non-Profit Organizations</h4>
  	</center>
</div>

<div class="container">
	<br>
	<center>
		
			<div class="row">
				
				<div class="col-md-12">
				<div class="thumbnail">
					<h3> Featured Organizations:</h3>
					<% @npo.each do |npo| %> 
					<hr>
		  		<p><%= link_to npo.name, npo_path(npo) %></p>
		  		<% end  %> 
		  		</div>
				</div>
				
	
				<div class="col-md-12">
				<div class="thumbnail">
				<h3>Featured Projects:</h3>
					<% @task.each do |task| %> 
					<hr>
			  	<p>Issue:  <%= link_to task.issue, npo_task_path(task.npo, task)  %></p>
			  	<p>Description: <%= task.description %></p>
			  	<% end  %> 
			  	</div>
		  	</div>
			
		</div>
	</center>
</div>
		
		



	
